*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid{
    color: #fff;
    background-color: rgb(61, 61, 61);
    justify-content: stretch;
}
.navbar-nav {
    width: 100%;
    justify-content:end;
    float: right;
}
#navbarNav li a{
    margin-left: 10px;
    color: rgb(216, 189, 189);
    font-size: 15px;
}
.titulo{
    text-align: left;
}
.banner{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url(img/ba1.jpg);
    background-size: cover;
    background-position: center;
}
.banner-texto{
    position: relative;
    top: 50%;
    left: 50%;
    color: #fff;
    float: right;
}
.titulo-cards{
    text-align: center;
    justify-content: center;
    margin: auto;
}
.cards{
    width: 60%;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}

