*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid{
    color: #fff;
    background-color: rgb(61, 61, 61);
    justify-content: stretch;
}
#logo{
    width: 10em;
}
.navbar-nav {
    width: 100%;
    justify-content:end;
    float: right;
}
#navbarNav li a{
    margin-left: 10px;
    color: rgb(216, 189, 189);
    font-size: 15px;
}
.titulo{
    font-size: 1.4em;
    text-align: left;
}
.banner{
    height: 100vh;
    display: flex;
    background: url(img/ba1.jpg);
    background-size: cover;
    background-position: center;
}
.banner-texto{
    position: relative;
    top: 60%;
    left: 50%;
    color: #fff;
}
.titulo-cards{
    text-align: center;
    justify-content: center;
    margin: auto;
}
.cards{
    width: 60%;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}
.cajas{
    margin: 0 auto;
    text-align: center;
}
.cajas .categorias{
    display: inline-block;
    justify-content: space-between;
}
#caja1{
    border: 1px solid blue;
}
#caja2{
    border: 1px solid gray;
}
#caja3{
    border: 1px solid greenyellow;
}